---

---

<div class="bg-amber-200 px-4 py-3 text-gray-900">
    <p class="text-center text-sm font-medium">
        Información sobre requisitos y estados de visa.
        <a
            class="inline-block underline"
            href="https://wa.link/5sygk4"
            target="_blank"
            rel="noreferrer"
            >Para mayor información contacto directo por whatsapp</a
        >
    </p>
</div>
