---
import ListElement from "./ListElement.astro";
---

<section class="bg-lime-900 text-white">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="max-w-xl mx-auto">
            <h2
                class="text-3xl font-bold sm:text-4xl text-pretty tracking-wider"
            >
                ¿Que te ofrece Latam Study Visa?
            </h2>

            <p class="mt-4 text-gray-50 text-center text-balance">
                Nuestra oferta de viajes y cursos de idiomas en el extranjero es
                la más completa y variada, diseñada para niños, jóvenes,
                preuniversitarios y adultos. Aquí te presentamos algunas
                opciones irresistibles que te permitirán aprender y explorar al
                mismo tiempo:
            </p>
        </div>

        <div
            class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
        >
            <ListElement
                title="Campamentos de verano."
                text="Perfectos para niños y jóvenes, estos campamentos combinan el aprendizaje de idiomas con actividades recreativas en entornos naturales espectaculares. Imagina aprender inglés mientras disfrutas de la naturaleza en los parques nacionales de Canadá o las playas doradas de Australia, rodeado de la hospitalidad local."
            />
            <ListElement
                title="Cursos de idiomas con actividades."
                text="Estos programas son ideales para quienes desean aprender un idioma mientras participan en actividades culturales y deportivas. Podrías estudiar en Nueva Zelanda, rodeado de sus majestuosos paisajes montañosos y su rica cultura maorí, o en Irlanda, explorando sus verdes colinas y castillos históricos, mientras te sumerges en la calidez de su gente."
            />
            <ListElement
                title="Cursos intensivos."
                text="Para aquellos que desean avanzar rápidamente en su dominio del idioma, los cursos intensivos ofrecen una inmersión total. Vive la vibrante vida urbana de ciudades como Toronto en Canadá o Dublín en Irlanda, donde cada día es una nueva oportunidad para practicar y mejorar, rodeado de una diversidad cultural fascinante."
            />
            <ListElement
                title="Cursos para preuniversitarios."
                text=" Prepárate para estudios superiores en el extranjero mientras exploras la rica historia y cultura de destinos como Londres o Sídney. Estos cursos te brindan una base sólida para tu futuro académico mientras disfrutas de todo lo que estos sitios tienen para ofrecer, incluyendo su diversidad cultural y hospitalidad."
            />
            <ListElement
                title="Escuelas de idiomas."
                text="Ubicadas en los mejores destinos, estas escuelas ofrecen una educación de alta calidad en lugares que te dejarán sin aliento. Imagina estudiar en Irlanda, con sus acantilados de Moher y paisajes de ensueño, o en Inglaterra, rodeado de su rica historia y cultura, y disfrutando de la calidez y hospitalidad de sus habitantes."
            />
            <ListElement
                title="Programas de inmersión lingüística."
                text="Vive, trabaja y estudia en el país del idioma, disfrutando de la hospitalidad y los paisajes únicos de lugares como Inglaterra o los parques nacionales de Canadá. Esta experiencia te permitirá sumergirte completamente en la cultura y el idioma, acelerando tu aprendizaje de manera significativa."
            />
        </div>
    </div>
</section>
<style>
    h2 {
        text-shadow: 3px 2px 2px #031a0d;
    }
</style>
